.container {

    font-family: monospace;
    font-size: 6px;
    line-height: 0.8;
}

.object.object--state-normal {

    color: limegreen;
}

.object.object--state-collided {

    color: red;
}

.nextMove.nextMove--move-principal {

    color: blue;
}

.nextMove.nextMove--move-neighbour {

    color: yellow;
}

.previousPoint {

    color: grey;
}

.buttons {

    display: flex;
    width: 90px;
    flex-direction: column;
    margin-top: 24px;
}

.buttonRow {
    flex: 1;
    display: flex;
}

.buttonRow button {
    flex: 1;
}