.container {

    font-family: monospace;
    font-size: 6px;
    line-height: 0.8;
}

.container span {

    color: limegreen;
}

.collision .container span {

    color: red;
}

.buttons {

    display: flex;
    width: 90px;
    flex-direction: column;
    margin-top: 24px;
}

.buttonRow {
    flex: 1;
    display: flex;
}

.buttonRow button {
    flex: 1;
}